<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/custom.css}" />
    <title>Growth Assay Analyzer</title>
</head>
<body>
<script src="/jquery/jquery-3.6.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    const currentDatasetId = [[${currentDatasetId}]]

    function getURL(path) {
        return [[@{'/'}]] + path
    }
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{/img/jipipe-webapp-logo.png}" class="logo" alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://www.jipipe.org/" target="_blank"><i class="fas fa-question-circle"></i> Learn more about JIPipe</a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="#" onclick="document.logoutForm.submit();"><strong>Logout</strong></a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/manage"><strong>Manage publications</strong></a>
            </li>
        </ul>
    </div>
</nav>
<section layout:fragment="jumbotron">
</section>
<div class="container-fluid ps-0 pe-0">
    <div class="d-flex flex-column flex-lg-row">
        <div sec:authorize="isAuthenticated()" class="bg-light border-end pt-1">
            <div class="list-group m-2">
                <a class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-center text-nowrap" th:href="@{/dataset/new}">
                    <span>Upload new dataset</span>
                    <i class="fas fa-plus-circle ms-3"></i>
                </a>
                <th:block th:each="dataset: ${datasets}">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center text-nowrap" th:classappend="${dataset.id == currentDatasetId ? 'active' : ''}" th:href="@{'/dataset/view/' + ${dataset.id}}">
                        <span th:text="${dataset.name}"></span>
                        <i class="fas fa-folder-open ms-3" th:id="'sidebar-dataset-status-' + ${dataset.id}"></i>
                    </a>
                </th:block>

            </div>
        </div>
        <div class="template-content flex-grow-1">
            <section layout:fragment="content">
                <p>Page content goes here</p>
            </section>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div th:each="notification: ${notifications}" th:id="${notification.id}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header" th:classappend="'bg-' + ${notification.style} + ' ' + 'text-bg-' + ${notification.style} ">
            <strong class="me-auto" th:text="${notification.title}"></strong>
            <button type="button" class="btn btn-sm" th:classappend="'text-bg-' + ${notification.style} " data-bs-dismiss="toast" aria-label="Close"><i class="fa fas fa-times"></i></button>
        </div>
        <div class="toast-body" th:text="${notification.text}">
        </div>
    </div>
</div>
<footer class="bg-light pt-5 pb-5 border-top">
    <div class="container-fluid">
        <div class="row" >
            <div class="col text-muted">
                <small>
                    JIPipe was developed by Research Group Applied Systems Biology<br/>
                    Head: Prof. Dr. Marc Thilo Figge HKI-Center for Systems Biology of Infection<br/>
                    Leibniz Institute for Natural Product Research and Infection Biology – Hans Knöll Insitute (HKI)<br/>
                    Adolf-Reichwein-Straße 23, 07745 Jena, Germany
                </small>
            </div>

        </div>
    </div>
</footer>
<script>

    function updateDatasetSideBar() {
        $.getJSON(getURL("dataset/query-all-status"), function (data) {
            for (const [key, value] of Object.entries(data)) {
                const elem = $("#sidebar-dataset-status-" + key)
                switch (value) {
                    case "Preparing":
                        elem.prop("class", "fa fas fa-folder-open ms-3")
                        break;
                    case "Running":
                        elem.prop("class", "fa-solid fa-circle-notch fa-spin ms-3")
                        break;
                    case "RunFinished":
                        elem.prop("class", "fa-regular fa-circle-check ms-3")
                        break;
                    case "RunInterrupted":
                        elem.prop("class", "fa-solid fa-warning ms-3 text-danger")
                        break;
                }
            }
        });
    }

    $(document).ready(() => {
        const toastElList = [].slice.call(document.querySelectorAll('.toast'));
        const toastList = toastElList.map(function (toastEl) {
            return bootstrap.Toast.getOrCreateInstance(toastEl, {delay: 10000})
        });
        toastList.forEach(toast => toast.show());

        updateDatasetSideBar()
        setInterval(updateDatasetSideBar, 1500)
    });
</script>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:hidden="true" name="logoutForm" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>