<div class="card bg-light" th:fragment="admin-user-editor">
    <div class="card-header d-flex align-items-center justify-content-between">
        <span>Users</span>
        <a class="btn btn-primary" th:href="@{/admin/add-user}">
            <i class="fa-solid fa-user-plus"></i> Add new user
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                <tr>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Role</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Expires</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${accountConfig.adminUsername}"></td>
                    <td>Admin</td>
                    <td></td>
                    <td></td>
                    <td>-</td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr th:each="user: ${allUsers}">
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.renderGuestExpireAdmin()}"></td>
                    <td>
                        <div class="d-flex flex-row justify-content-end">
                            <button class="btn btn-danger delete-user-ask" type="button" th:data-user-id="${user.id}">Delete</button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex flex-row justify-content-end">
                            <a class="btn btn-outline-primary" th:href="@{'/admin/edit-user/' + ${user.id}}"> Edit</a>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex flex-row justify-content-end" th:if="${user.role.name() != 'Guest' && user.allowLogin}">
                            <form th:action="@{'/admin/deactivate-user/' + ${user.id}}" method="post">
                                <button class="btn btn-outline-danger" type="submit">Deactivate</button>
                            </form>
                        </div>
                        <div class="d-flex flex-row justify-content-end" th:if="${user.role.name() != 'Guest' && !user.allowLogin}">
                            <form th:action="@{'/admin/activate-user/' + ${user.id}}" method="post">
                                <button class="btn btn-outline-success" type="submit">Activate</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="~{fragments/modal-delete-user.html :: modal-delete}"></div>
    <script>
        let currentUserId = null

        $(document).ready(function () {
            $(".delete-user-ask").click(function () {
                currentUserId = $(this).data("userId")
                $("#modal-delete-user").modal('show')
            })
            $("#delete-user-confirm").click(function () {
                const token = $('#_csrf').attr('content');
                const header = $('#_csrf_header').attr('content');
                $.ajax(getURL("admin/delete-user/" + currentUserId), {
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                })
                .always(function () {
                    location.reload()
                })
            })
        })
    </script>
</div>