HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.directory

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Other ###
/bin/
/share/raw
/share/results
*.db
/storage/*
/windows/app/
/windows/jre/
/docker/*.zip
/windows/*.zip
/*.zip
*/JIPipe.tmp.dir/*
frontend/node/*
frontent/dist/*
.aider*
frontend/dist/**
dist/electron/tmp/**
dist/docker/*.zip
dist/docker/package/**
