// app global css in SCSS form

.w-100 {
  width: 100%;
}

.h-vh100 {
  height: 100vh;
}

.edit-toolbar > * {
  margin-right: 10px;
}

.d-block {
  display: block;
}

.border-red {
  border: 1px solid red;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.properties-panel {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
}