<div class="card bg-light" th:fragment="admin-user-editor">
    <div class="card-header d-flex align-items-center justify-content-between">
        <span>Users</span>
        <a class="btn btn-primary" th:href="@{/admin/add-user}">
            <i class="fa-solid fa-user-plus"></i> Add new user
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                <tr>
                    <th scope="col">E-Mail</th>
                    <th scope="col">Role</th>
                    <th scope="col">Can login</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${accountConfig.adminUserName}"></td>
                    <td>Admin</td>
                    <td><span class="text-success">Yes</span></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="d-flex flex-row justify-content-end">
                            <button class="btn btn-primary" disabled><i class="fa-solid fa-pen"></i> Edit</button>
                        </div>
                    </td>
                </tr>
                <tr th:each="user: ${allUsers}">
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <span th:if="${user.allowLogin}" class="text-success">Yes</span>
                        <span th:if="${!user.allowLogin}" class="text-danger">No</span>
                    </td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td>
                        <div class="d-flex flex-row justify-content-end">
                            <a class="btn btn-primary" th:href="@{'/admin/edit-user/' + ${user.id}}"><i class="fa-solid fa-pen"></i> Edit</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>