<div th:fragment="modal-delete" class="modal" tabindex="-1" id="modal-delete-user">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete the user?</p>
        <p class="text-danger">This will delete all data sets, results, and ZOI shape presets of this user.</p>
        <p class="text-danger">THIS OPERATION CANNOT BE REVERTED WITHOUT AN EXTERNAL BACKUP!!!</p>
        <p class="text-success">Consider deactivating the account, which will prevent the login, but keep all data.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">No (if you are unsure)</button>
        <button type="button" class="btn btn-danger" id="delete-user-confirm"><i class="fa-solid fa-skull-crossbones"></i> YES (DANGER!) <i class="fa-solid fa-skull-crossbones"></i></button>
      </div>
    </div>
  </div>
</div>