<div th:fragment="modal-upload" class="modal" tabindex="-1" id="modal-upload">
    <form th:action="@{'/dataset/upload-input/' + ${currentDatasetId}}" method="post" enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload image(s)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p>You can upload one or multiple images in the <code>PNG</code> format.</p>
                        <p><i class="fa fas fa-info-circle"></i> We recommend that you name your files according to the following pattern: <code>[experiment]_[name]_[time point].png</code></p>
                    </div>
                    <div class="mb-3">
                        <label for="imageFiles" class="form-label">Input files (*.png)</label>
                        <input type="file" class="form-control" id="imageFiles" name="imageFiles" multiple accept="image/png" >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>