<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base.html}">
<body>
<section layout:fragment="content" class="d-flex align-items-center justify-content-center flex-column h-100 index" th:style="'background:url('+ @{/img/index-background.png} +');'">
    <img th:src="@{/img/jipipe-webapp-logo.svg}" class="img-fluid logo-index" alt="logo"/>
    <h1 class="logo-index-heading">Growth assay analysis</h1>
    <a class="btn btn-lg btn-success mt-5" th:href="@{/dataset/new}">Start analysis</a>
</section>
</body>
</html>