<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base.html}">
<body>
<section layout:fragment="content" class="d-flex align-items-center justify-content-center flex-column h-100 index" th:style="'background:url('+ @{/img/index-background.png} +'); background-size: cover;'">
    <div class="card">
        <div class="card-body">
            <form th:action="@{/login}" method="post" autocomplete="on">
                <div class="mb-3 form-floating">
                    <input type="email" id="username" name="username" autofocus="autofocus" class="form-control" autocomplete="user-name"/>
                    <label for="username" class="form-label">E-Mail</label>
                </div>
                <div class="mb-3 form-floating">
                    <input type="password" id="password" name="password" class="form-control" autocomplete="current-password"/>
                    <label for="password" class="form-label">Password</label>
                </div>
                <input type="submit" value="Log in" class="btn btn-primary float-end m-1"/>
                <a class="btn btn-secondary float-end m-1" th:href="@{/register}">Register</a>
            </form>
        </div>
    </div>
</section>
</body>
</html>