<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base.html}">
<body>
<section layout:fragment="content" class="container-fluid pt-3">
    <div class="row">
        <div class="col">
            <nav class="navbar bg-light rounded border p-3 d-flex flex-row gap-2">
                <a class="btn btn-success" th:href="@{/zoi-shapes/add}">
                    <i class="fa-solid fa-circle-plus"></i> Add
                </a>
                <div class="ms-2"></div>
                <button type="button" class="btn btn-outline-primary" id="select-all" >
                    <i class="fa-regular fa-square-check"></i> Select all
                </button>
                <button type="button" class="btn btn-outline-primary" id="select-none" >
                    <i class="fa-regular fa-square"></i> Select none
                </button>
                <button type="button" id="select-invert" class="btn btn-outline-primary" >
                    <i class="fa-solid fa-circle-half-stroke"></i> Invert selection
                </button>
                <div class="ms-2"></div>
                <button type="button" class="btn btn-outline-primary " id="selection-export">
                    <i class="fa-solid fa-download"></i> Export selection
                </button>
                <button class="btn btn-outline-primary" type="button" id="import" >
                    <i class="fa-solid fa-upload"></i> Import
                </button>
                <div class="ms-2"></div>
                <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#modal-delete">
                    <i class="fa-solid fa-trash"></i> Delete selection
                </button>
                <div class="flex-grow-1"></div>
                <div class="text-muted me-2 data-save-info-default" style="display: none">
                    <i class="fa fas fa-save"></i>
                    <span>All settings are automatically saved</span>
                </div>
                <div class="text-muted me-2 data-save-info-saving" style="display: none">
                    <i class="fa-solid fa-circle-notch fa-spin"></i>
                    <span>Uploading changes ...</span>
                </div>
            </nav>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col">
            <div th:replace="~{fragments/zoi-shape-editor-table.html :: zoi-shape-editor-table}"></div>
        </div>
    </div>
    <div th:replace="~{fragments/modal-delete-zoi-shape-presets.html :: modal-delete}"></div>
    <script th:inline="javascript">
        let updateTimerHandle = 0;

        function updateSaveProgress(inProgress) {
            $(".data-save-info-default").toggle(!inProgress)
            $(".data-save-info-saving").toggle(inProgress)
        }

        function updatePresets() {
            let message = {
                presets: {}
            }
            $(".preset-editor").each(function () {
                const presetId = $(this).data("presetId")
                const presetIdKey = "" + presetId
                const presetProperty = $(this).data("presetProperty")
                let value = undefined

                if (presetId === undefined) {
                    return
                }
                if($(this).prop("type") === "checkbox") {
                    value = $(this).prop("checked")
                }
                else {
                    value = $(this).val()
                }

                // Add to map if not exists
                if (!(presetIdKey in message.presets)) {
                    message["presets"][presetIdKey] = {
                        id: presetId
                    }
                }

                // set the property
                message.presets[presetIdKey][presetProperty] = value
            })

            const token = $('#_csrf').attr('content');
            const header = $('#_csrf_header').attr('content');
            return $.ajax(getURL("zoi-shapes/update"), {
                type: "POST",
                data: JSON.stringify(message),
                dataType: "html",
                contentType: 'application/json',
                mimeType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
            })
        }

        function scheduleUpdateTimer() {
            if (updateTimerHandle !== 0) {
                clearTimeout(updateTimerHandle);
            }
            $(".data-save-info-default").hide()
            $(".data-save-info-saving").show()
            updateTimerHandle = setTimeout(function () {
                updatePresets().always(function () {
                    $(".data-save-info-saving").hide()
                    $(".data-save-info-default").show()
                })
            }, 1000)
        }

        function registerUpdateSchedulerListeners() {
            $(".preset-editor").on("input", function () {
                scheduleUpdateTimer()
            })
        }

        function deleteSelection() {
            let items = $(".preset-editor-selected:checked").map(function () {
                return $(this).data("preset-id");
            }).get().join(",")
            if(items === "") {
                return;
            }
            window.location.assign(getURL("zoi-shapes/delete/" + items))
        }

        function exportSelection() {

        }

        function registerButtons() {
            $("#select-all").click(function () {
               $(".preset-editor-selected").attr("checked", "checked")
            });
            $("#select-none").click(function () {
                $(".preset-editor-selected").attr("checked", false)
            });
            $("#select-invert").click(function () {
                $('.preset-editor-selected').each(function() {
                    $(this).attr('checked', !$(this).attr('checked'));
                });
            });
            $("#delete-selection-confirm").click(function () {
                deleteSelection()
            })
            $("#selection-export").click(function () {
                exportSelection()
            })
        }

        $(document).ready(() => {
            updateSaveProgress(false)
            registerButtons()
            registerUpdateSchedulerListeners()
        })
    </script>
</section>
</body>
</html>